!--- Initializations ---

&mcarWld_nml_init
 Wld_mtarget = 2 ! target mode (1=flux&HR, 2=radiance, 3=volume rendering)
 Wld_mverb  = 3  ! verbose mode (0=quiet, 1=yes, 2=more, 3=most(for bugfix))
 Wld_mbswap = 0  ! Swap little-big endian (0=no swapping)
 !Wld_jseed = 374506522
 Wld_moptim = 2  ! Flag for optimization techniques (2=Standard optimization)
 Wld_njob   = 1
/
&mcarSca_nml_init ! Scattering phase function tables
 Sca_inpfile = ' '
 Sca_npf  = 0 ! AMIT - For some reason mcarats crashes without specifying a value here.
/
&mcarAtm_nml_init
 Atm_inpfile = {{ atmo_file_name }} ! File name of an external file of 3-D atmospheric model
 Atm_mfmt = 1     ! Flag for format (1=binary)
 Atm_np3d = 1     ! Number of scattering components in the 3-D distribution
 Atm_np1d = 1     ! Number of scattering components in the 1-D distribution
 Atm_nx = {{ x_axis }} ! Grid X dimension
 Atm_ny = {{ y_axis }} ! Grid Y dimension
 Atm_nz = {{ z_axis }} ! Grid Z dimension
 Atm_iz3l = {{ iz3l }} ! Starting Z index of 3-D distribution
 Atm_nz3 = {{ nz3 }}   ! Ending Z index of 3-D distribution
 Atm_mtprof = {{ tmp_prof }}   ! Flag for temperature profile (0=temp data are given for each layer)
 Atm_nkd = 1 ! Number of terms used in the k-distribution modeling of the gaseous absorbption (1=monochromatic)
/
&mcarSfc_nml_init
 Sfc_inpfile = ' '
 Sfc_nxb = 1      ! Number of X-pixels for the surface properties
 Sfc_nyb = 1      ! Number of Y-pixels for the surface properties
/
&mcarSrc_nml_init
 Src_nsrc = 1     ! Number of radiative sources
/
&mcarFlx_nml_init ! Flux density calculations
/
&mcarRad_nml_init
 Rad_mrkind = 1   ! Kind of radiance calculated (1=Angular distribution of local radiances)
 Rad_mplen = 0    ! Method for calculating pathlength statistics (0=No calculation of pathe length statistics)
 Rad_mpmap = 1    ! Method of pixel mapping (1=rectangular)
 Rad_nrad = {{ cameras_num }} ! Number of radiance arrays calculated (corresponds to view locations)
 Rad_nxr  = {{ img_x }} ! Number of pixels along U coordinages
 Rad_nyr  = {{ img_y }} ! Number of pixels along V coordinages
/
&mcarVis_nml_init ! Method for volume rendering
 Vis_mrend  = 4     ! method for rendering (0/1/2/3/4)
 Vis_epserr = 0.0001
 Vis_fpsmth = 0.5
 Vis_fatten = 1.0   ! attenuation factor (1 for physics-based rendering)
 Vis_nqhem  = 1
/
&mcarPho_nml_init
 Pho_iso_SS  = 1    ! The maximum scattering order at which photons are allowed to move in 3-D (used only when the partially-three-dimensional RT solver is used)
 Pho_iso_tru = 1000 ! Maximum order of collision for non-approximated TR simulation.
 Pho_iso_max = 1000 ! Maximum order of scattering simulation
/

!--- A new job ---

&mcarWld_nml_job
 Wld_rmlcf = 100.0   ! Scale length for local-Collision Forcing
/
&mcarAtm_nml_job
 Atm_idread = 1      ! Dataset #
 Atm_dx = {{ dx }}   ! Cell size in meters
 Atm_dy = {{ dy }}   ! Cell size in meters
 Atm_zgrd0 =  {{ z_coords }}
 Atm_wkd0 = 1.0      ! Weight coefficients of the correlated k-distribution (1=monochromatic)
 Atm_tmp1d = {{ tmp1d }}
 Atm_ext1d = {{ ext1d }}
 Atm_omg1d = {{ omg1d }}
 Atm_apf1d = {{ apf1d }}
 Atm_abs1d = {{ abs1d }}
/
&mcarSfc_nml_job
 Sfc_mtype = 0        ! Type index of globally constant surface BRDF (0=black)
/
&mcarSrc_nml_job
 Src_flx = 6.2831853  ! Solar source flux density
 Src_qmax = 0.5       ! Full cone angle
 Src_wlen = 10.0      ! Wavelength 
 Src_dwlen = 0.0      ! Wavelength band width
 Src_mtype = 1        ! Flag for source type (1-solar sources)
 Src_mphi = 0         ! Flag for random azimuth of source emission (0=No)
 Src_the = {{ sun_theta }} ! Source theta
 Src_phi = {{ sun_phi }} ! Source phi
 Src_apsize = 0.5 ! aperture size
/
{{ Rad_job }}
